.header{
    width: auto;
    height: 100px;
    background-color: aqua;
}
.lateral{
    position: relative;
    top: 15px;
    float: left;
    width: 63%;
    height: 440px;
    background-color: rgb(0, 5, 150);
}
.box{
    position: relative;
    top: 15px;
    float: right;
    width: 35%;
    height: 440px;
    background-color: rgb(255, 170, 0);
    right: 0.8%;
}
.box1{
    position: absolute;
    width: 90%;
    left: 5%;
    height: 180px;
    background-color: rgb(189, 15, 195);
    top: 20px;
}
.box2{
    position: absolute;
    width: 90%;
    left: 5%;
    height: 180px;
    background-color: rgb(189, 15, 195);
    top: 230px;
}
.main{
    position: relative;
    width: 100%;
    height: 310px;
    top: 475px;
    background-color: rgb(255, 0, 0);
}
.footer{
    position: relative;
    width: auto;
    height: 100px;
    background-color: aqua;  
    top: 490px;  
}
